.logo {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: bottom;
    display: flex;
    align-items: center;
    background-image: url(senhornocampo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    order: -1;
}
.span-pb {
    color: white;
    font-family:"Oswald", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-left: 1px;
}


  
.links {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

.cult {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
}

a {

    color: black;
    cursor: pointer;
    text-decoration: none;

}
